In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\affan\OneDrive\Desktop\Zepto Data Analysis Project\Zepto_data.csv")
df.head(9)

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,False,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,False,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,False,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,False,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,False,250
5,Fruits & Vegetables,Potato,3500,17,3,2900,1000,False,1
6,Fruits & Vegetables,Lemon,7500,16,3,6300,200,False,200
7,Fruits & Vegetables,Watermelon,5800,15,3,4900,58,False,1
8,Fruits & Vegetables,Capsicum Green,2300,17,3,1900,250,False,250

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3732 entries, 0 to 3731
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Category                3732 non-null   object
 1   name                    3732 non-null   object
 2   mrp                     3732 non-null   int64
 3   discountPercent         3732 non-null   int64
 4   availableQuantity       3732 non-null   int64
 5   discountedSellingPrice  3732 non-null   int64
 6   weightInGms             3732 non-null   int64
 7   outOfStock              3732 non-null   bool
 8   quantity                3732 non-null   int64
dtypes: bool(1), int64(6), object(2)
memory usage: 237.0+ KB

In [3]:
df.describe(include="all")

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
count,3732,3732,3732.000000,3732.000000,3732.000000,3732.000000,3732.000000,3732,3732.000000
unique,14,1681,NaN,NaN,NaN,NaN,NaN,2,NaN
top,Cooking Essentials,Mother's Recipe Tamarind Paste,NaN,NaN,NaN,NaN,NaN,False,NaN
freq,514,10,NaN,NaN,NaN,NaN,NaN,3279,NaN
mean,NaN,NaN,15680.117899,7.617095,4.008574,14192.834941,387.843783,NaN,213.270900
std,NaN,NaN,16088.807618,9.211733,2.203511,13850.726265,678.096509,NaN,194.730976
min,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,NaN,NaN,6000.000000,0.000000,2.000000,5500.000000,100.000000,NaN,50.000000
50%,NaN,NaN,11000.000000,6.000000,5.000000,10400.000000,225.000000,NaN,186.000000
75%,NaN,NaN,20000.000000,10.000000,6.000000,18400.000000,450.000000,NaN,340.000000
max,NaN,NaN,260000.000000,51.000000,6.000000,139900.000000,10000.000000,NaN,1500.000000

In [ ]:
# Check missing value

df.isnull().sum()

Category                  0
name                      0
mrp                       0
discountPercent           0
availableQuantity         0
discountedSellingPrice    0
weightInGms               0
outOfStock                0
quantity                  0
dtype: int64

In [ ]:
# Remove Duplicate values 

df.duplicated().sum()
df.drop_duplicates(inplace=True)

0

In [10]:
# Data type corrections

df['outOfStock'] = df['outOfStock'].astype(bool)
df['discountPercent'] = df['discountPercent'].astype(int)
df['availableQuantity'] = df['availableQuantity'].astype(int)
df.dtypes

Category                  object
name                      object
mrp                        int64
discountPercent            int32
availableQuantity          int32
discountedSellingPrice     int64
weightInGms                int64
outOfStock                  bool
quantity                   int64
dtype: object

In [ ]:
# Column name into snake case

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['category', 'name', 'mrp', 'discountpercent', 'availablequantity',
       'discountedsellingprice', 'weightingms', 'outofstock', 'quantity'],
      dtype='object')

In [13]:
# Calculate Discount Amount

df['discountamount'] = df['mrp'] - df['discountedsellingprice']
df[['discountamount','discountedsellingprice']].head(10)

   discountamount  discountedsellingprice
0             400                    2100
1             700                    3500
2             800                    4300
3             300                    1700
4             200                    1200
5             600                    2900
6            1200                    6300
7             900                    4900
8             400                    1900
9             300                    1600

In [14]:
# Price Per Gram

df['pricepergram'] = df['discountedsellingprice'] / df['weightingms']
df[['pricepergram','discountedsellingprice','weightingms']].head(9)

   pricepergram  discountedsellingprice  weightingms
0      2.100000                    2100         1000
1      3.500000                    3500         1000
2     74.137931                    4300           58
3     17.000000                    1700          100
4      4.800000                    1200          250
5      2.900000                    2900         1000
6     31.500000                    6300          200
7     84.482759                    4900           58
8      7.600000                    1900          250

In [15]:
# Total Stock Value

df['stockvalue'] = df['discountedsellingprice'] * df['availablequantity']
df[['stockvalue','discountedsellingprice','availablequantity']].head(9)

   stockvalue  discountedsellingprice  availablequantity
0        6300                    2100                  3
1       10500                    3500                  3
2       12900                    4300                  3
3        5100                    1700                  3
4        3600                    1200                  3
5        8700                    2900                  3
6       18900                    6300                  3
7       14700                    4900                  3
8        5700                    1900                  3

In [17]:
# Category level Analysis

df.groupby('category').agg({
    'mrp': 'mean',
    'discountpercent': 'mean',
    'availablequantity': 'sum',
    'stockvalue': 'sum'
}).head(9)

,mrp,discountpercent,availablequantity,stockvalue
category,,,,
Beverages,11870.542636,7.155039,485,5505100
Biscuits,5948.979592,8.244898,448,2500760
Chocolates & Candies,15572.680412,8.324742,1521,22438500
Cooking Essentials,15653.501946,7.163424,2186,33736900
"Dairy, Bread & Batter",11870.542636,7.155039,485,5505100
Fruits & Vegetables,4701.075269,15.462366,275,1084600
Health & Hygiene,15917.525773,8.051546,425,6418000
Home & Cleaning,15215.463918,5.675258,839,12266100
Ice Cream & Desserts,15572.680412,8.324742,1521,22438500

In [36]:
print("\n--- Average Selling Price by Category ---\n")
df.groupby('category')['discountedsellingprice'].mean()

--- Average Selling Price by Category ---

category
Beverages                10372.868217
Biscuits                  5277.959184
Chocolates & Candies     14107.731959
Cooking Essentials       14082.684825
Dairy, Bread & Batter    10372.868217
Fruits & Vegetables       3983.870968
Health & Hygiene         14585.567010
Home & Cleaning          14144.845361
Ice Cream & Desserts     14107.731959
Meats, Fish & Eggs       16409.523810
Munchies                 14082.684825
Paan Corner              18989.795918
Packaged Food            14107.731959
Personal Care            18989.795918
Name: discountedsellingprice, dtype: float64

In [37]:
print("\n--- Total Quantity Sold by Category ---\n")
print(df.groupby('category')['quantity'].sum())

--- Total Quantity Sold by Category ---

category
Beverages                 28843
Biscuits                  26009
Chocolates & Candies     103490
Cooking Essentials       106489
Dairy, Bread & Batter     28843
Fruits & Vegetables       16030
Health & Hygiene           8054
Home & Cleaning           26109
Ice Cream & Desserts     103490
Meats, Fish & Eggs        17231
Munchies                 106489
Paan Corner               60430
Packaged Food            103490
Personal Care             60430
Name: quantity, dtype: int64

In [22]:
# Highest Discount Product

df.sort_values(by='discountpercent', ascending=False).head(4)

,category,name,mrp,discountpercent,availablequantity,discountedsellingprice,weightingms,outofstock,quantity,discountamount,pricepergram,stockvalue
2619,Biscuits,Dukes Waffy Strawberry Wafers,4500,51,2,2200,60,False,75,2300,36.666667,4400
2608,Biscuits,Dukes Waffy Chocolate Wafers,4500,51,4,2200,60,False,75,2300,36.666667,8800
2615,Biscuits,Dukes Waffy Orange Wafers,4500,51,5,2200,60,False,75,2300,36.666667,11000
1191,"Dairy, Bread & Batter",RRO Cheddar Block Cheese,29500,50,6,14700,200,False,200,14800,73.500000,88200

In [ ]:
# Top expensive Product

df.sort_values('discountedsellingprice', ascending=False).head(4)

,category,name,mrp,discountpercent,availablequantity,discountedsellingprice,weightingms,outofstock,quantity,discountamount,pricepergram,stockvalue
1031,Munchies,Borges Extra Light Olive Oil Bottle,260000,46,6,139900,2000,False,2,120100,69.950000,839400
517,Cooking Essentials,Borges Extra Light Olive Oil Bottle,260000,46,6,139900,2000,False,2,120100,69.950000,839400
363,Cooking Essentials,Praakritik Natural Desi Gir Cow A2 Ghee,145000,10,6,130500,540,False,540,14500,241.666667,783000
877,Munchies,Praakritik Natural Desi Gir Cow A2 Ghee,145000,10,6,130500,540,False,540,14500,241.666667,783000

In [32]:
print("\n--- Out of Stock Products ---\n")

print(df[df['outofstock'] == True][['name', 'category']].head(9))

--- Out of Stock Products ---

                               name             category
87                           Carrot  Fruits & Vegetables
88                         Beetroot  Fruits & Vegetables
89                    Moong Sprouts  Fruits & Vegetables
90    Safal Frozen Mixed Vegetables  Fruits & Vegetables
91                Safal Frozen Corn  Fruits & Vegetables
92        Safal Frozen - Sweet Corn  Fruits & Vegetables
543                    Madhur Sugar   Cooking Essentials
544                Amul Fresh Cream   Cooking Essentials
545  Madhur Pure And Hygienic Sugar   Cooking Essentials

In [31]:
print("\n--- Low Available Quantity Products ---\n")
print(df[df['availablequantity'] <= 3][['name', 'availablequantity']].head(9))

--- Low Available Quantity Products ---

               name  availablequantity
0             Onion                  3
1     Tomato Hybrid                  3
2    Tender Coconut                  3
3  Coriander Leaves                  3
4    Ladies Finger                   3
5            Potato                  3
6             Lemon                  3
7       Watermelon                   3
8   Capsicum Green                   3

In [38]:
! pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\affan\appdata\local\programs\python\python312\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\affan\appdata\local\programs\python\python312\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\affan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\affan\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)

In [47]:
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:123%40mohd@127.0.0.1:3306/zepto_data"
)

# --- CLEAN DATA (THIS SOLVES THE ERROR) ---
df = df.replace([np.inf, -np.inf], np.nan)
df = df.where(df.notna(), None)

# --- INSERT ---
df.to_sql(
    name="product",
    con=engine,
    if_exists="append",
    index=False,
    method="multi"   # faster + safe
)

3730